<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="c"/>

    <!--

    <bean id="floppyWriter" class="c.FloppyWriter"/>
    <bean id="usbWriter" class="c.USBWriter"/>

    <bean id="business" class="c.Business">
        &lt;!&ndash;<constructor-arg ref="usbWriter"/>&ndash;&gt;
        <property name="deviceWriter" ref="usbWriter"/>
    </bean>

    <bean id="string" class="java.lang.String">
        <constructor-arg value="DI"/>
    </bean>

    <bean id="test" class="c.Test">
        <property name="string" ref="string"/>
        &lt;!&ndash;<property name="string" value="Spring"/>&ndash;&gt;
    </bean>
-->
</beans>
