<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="floppyWriter" class="c.FloppyWriter"/>
    <bean id="usbWriter" class="c.USBWriter"/>

    <bean id="business" class="c.Business">
        <!--<constructor-arg ref="usbWriter"/>-->
        <property name="deviceWriter" ref="usbWriter"/>
    </bean>

    <bean id="string" class="java.lang.String">
        <constructor-arg value="DI"/>
    </bean>

    <bean id="test" class="c.Test">
        <property name="string" ref="string"/>
        <!--<property name="string" value="Spring"/>-->
    </bean>

</beans>